<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->

<template name="userProperties">
    {{#autoForm collection="Members" type="method" doc=this meteormethod="updateUserSettings" id="editUserSettings"}} 
        <label class="form-control">Benutzername: {{displayname}}</label>    
        <label class="form-control">E-Mail Adresse: {{email}}</label>    
    
        <h3>Kalender Exportieren(ICS):</h3>
        <a class="form-control" href="/ICS/Export/Fixed/{{_id}}" target="_blank">Export beschlossener Termine</a>
        <a class="form-control" href="/ICS/Export/Open/{{_id}}" target="_blank">Export offener Termine</a>
        <a class="form-control" href="/ICS/Export/All/{{_id}}" target="_blank">Export aller Termine</a>
    
        <h3>Eingebundene Kalender</h3>

    
        <h3>E-Mail Benachrichtigungen</h3>
        {{> afQuickField name="notifications.emailForEventInvitation" id="invitation-input"}}
        {{> afQuickField name="notifications.emailForEventChanges" id="changes-input"}}
        {{> afQuickField name="notifications.emailForEventCancel" id="cancel-input"}}
        {{> afQuickField name="notifications.emailForEventDecide" id="decide-input"}}
        <input type="submit" value="Benutzerdaten speichern" class="btn btn-primary"/>
    {{/autoForm}}
</template>