<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="account">
    {{> accountbase this}}
</template>

<template name="newaccount">
    {{> accountbase this}}
</template>

<template name="accountbase">
    {{#if localaccount}}
        <h3>Benutzerkonto (Lokal)</h3>
    {{else}}
        <h3>Benutzerkonto (LDAP)</h3>
    {{/if}}
    
    {{#autoForm collection="Members" type="method" doc=this meteormethod="updateUseraccount" id="editUseraccount"}} 
     
        {{#if neuesKonto}}
            {{> afQuickField name="username" id="username-input"}}
        {{else}}
            <label>Benutzername: {{username}}</label>
        {{/if}}
    
        {{> afQuickField name="displayname" id="displayname-input"}}
        {{> afQuickField name="email" id="email-input"}}
        {{> afQuickField name="admin" id="admin-input"}}
        {{> afQuickField name="lockedout" id="lockedout-input"}}
      
    <div class="login-panel"><p id="updateUseraccountError" class="error"></p></div>
        <input type="submit" value="Benutzerdaten speichern" class="btn btn-primary"/>
        {{#if localaccount}}
            <input type="button" id="resetpassword" value="Passwort zurücksetzen" class="btn btn-primary"/>
        {{/if}}
    
    {{/autoForm}}
</template>