/* global */
html {
  background-color: #eee;
}

body {
  overflow-x: hidden;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 !important;
  box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
  -moz-box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
  -webkit-box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
  
  h2 {
    margin: 0;
  }

  .container {
    position: relative;
    width: 100%; 
    max-width: 850px;
    margin: 0;
    padding: 15px 10px;
  }


  #main.container {
    overflow-x: hidden;
  }
  
  .page-head .page-headline {
    float: left;
    display: block;
    margin: 0;
  }

  .header {
    width: 100%; 
    border-bottom: 1px solid #e5e5e5;
  }

  .footer {
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }

  .event-content {
    position: relative;
  }
}
