.addParticipant .bootstrap-tagsinput {
  display: block;
}

.event .form-group .control-label,
.event dl .def-lable {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  left: -10px;
  min-width: 850px;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 63, 99, 0.07);
}

.token .token-label + .close {
  line-height: 1.1em;
}

.fc-event {
  box-shadow: inset -1px 1px 3px 0px rgba(0, 0, 0, 0.3);

  &.editable {
    box-shadow: inset -1px 1.5px 3px 0px rgba(0, 0, 0, 0.3);
  }
}
