<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="header">
    <header class="header page-head clearfix container">
        {{#if currentUser}}
            <h1 class="text-muted page-headline"><a  class="logo" href="{{pathFor 'eventList'}}">Boodle</a></h1>
            <ul class="nav nav-pills pull-right js-toggle" role="tablist">
                {{#if isAdmin}}
                <li class="nav-item" role="presentation">
                	<a role="tab" data-toggle="tab" class="administration" href="#">Verwaltung</a>
                </li>
                {{/if}}
                <li class="nav-item" role="presentation">
                	   <a role="tab" data-toggle="tab" class="new-event" href="#">
                <i class="fa fa-plus fa-fw"></i> Event</a></li>
                <li class="nav-item" role="presentation">
                	<a class="event-overview" role="tab" data-toggle="tab" href="#">
                	Eventübersicht</a></li>

                <li class="nav-item" ><a class="properties" href="{{pathFor 'userProperties'}}"><i class="fa fa-gear fa-fw"></i> Einstellungen</a></li>
                <li><a class="nav-item logout" href="{{pathFor 'startPage'}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
        {{else}}
            <h1 class="text-muted page-headline">Boodle</h1>
        {{/if}}
    </header>
</template>
