<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="iconfont">
	<section class="icon-font">
      	<h1>Beispiel Icon-Font</h1>
            <span>
                  <i class="fa fa-fw fa-adjust"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-adn"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-align-center"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-align-justify"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-align-left"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-align-right"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-ambulance"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-edit"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-user"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-user-md"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-users"></i>
            </span>

            <span>
                  <i class="fa fa-fw fa-anchor"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-android"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-angellist"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-double-down"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-double-left"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-double-right"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-double-up"></i>
            </span>
      
            <span>
                  <i class="fa fa-fw fa-angle-down"></i> 
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-angle-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-apple"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-archive"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-area-chart"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-o-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-o-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-o-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-o-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-circle-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrow-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrows"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrows-alt"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrows-h"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-arrows-v"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-asterisk"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-at"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-automobile"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-backward"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-ban"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bank"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-bar-chart"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-bar-chart-o"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-barcode"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-bars"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-beer"></i> 
            </span>

            <span>
                  <i class="fa fa-fw fa-behance"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-behance-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bell"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bell-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bell-slash"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bell-slash-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bicycle"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-binoculars"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-birthday-cake"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bitbucket"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bitbucket-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bitcoin"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bold"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bolt"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bomb"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-book"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bookmark"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bookmark-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-briefcase"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-btc"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bug"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-building"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-building-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bullhorn"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bullseye"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-bus"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-c"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-calculator"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-calendar"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-calendar-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-camera"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-camera-retro"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-car"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-square-o-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-square-o-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-square-o-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw v"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-caret-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-amex"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-discover"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-mastercard"></i>
                 
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-paypal"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-stripe"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cc-visa"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-certificate"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chain"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chain-broken"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-check"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-check-circle"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-check-circle-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-check-square"></i>
                 
            </span>
            <span>
                  <i class="fa fa-fw fa-check-square-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-circle-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-circle-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-circle-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-circle-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-chevron-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-child"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-circle"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-circle-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-circle-o-notch"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-circle-thin"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-clipboard"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-clock-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-close"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cloud"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cloud-download"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cloud-upload"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cny"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-code"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-code-fork"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-codepen"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-coffee"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cog"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cogs"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-columns"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-comment"></i>
                   
            </span>
            <span>
                  <i class="fa fa-fw fa-comment-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-comments"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-comments-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-compass"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-compress"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-copy"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-copyright"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-credit-card"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-crop"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-crosshairs"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fwfa-css3"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cube"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cubes"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cut"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-cutlery"></i>
                  
            </span>
<!--
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dashboard
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-database
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dedent
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-delicious
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-desktop
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-deviantart
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-digg
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dollar
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dot-circle-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-download
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dribbble
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-dropbox
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-drupal
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eject
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ellipsis-h
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ellipsis-v
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-empire
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-envelope
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-envelope-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-envelope-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eraser
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eur
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-euro
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-exchange
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-exclamation
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-exclamation-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-exclamation-triangle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-expand
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-external-link
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-external-link-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eye
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eye-slash
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-eyedropper
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-facebook
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-facebook-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fast-backward
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fast-forward
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fax
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-female
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fighter-jet
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-archive-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-audio-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-code-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-excel-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-image-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-movie-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-pdf-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-photo-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-picture-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-powerpoint-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-sound-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-text
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-text-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-video-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-word-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-file-zip-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-files-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-film
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-filter
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fire
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-fire-extinguisher
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flag
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flag-checkered
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flag-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flash
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flask
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-flickr
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-floppy-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-folder
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-folder-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-folder-open
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-folder-open-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-font
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-forward
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-foursquare
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-frown-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-futbol-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gamepad
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gavel
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gbp
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ge
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gear
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gears
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gift
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-git
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-git-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-github
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-github-alt
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-github-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-gittip
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-glass
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-globe
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-google
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-google-plus
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-google-plus-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-google-wallet
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-graduation-cap
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-group
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-h-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hacker-news
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hand-o-down
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hand-o-left
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hand-o-right
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hand-o-up
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hdd-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-header
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-headphones
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-heart
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-heart-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-history
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-home
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-hospital-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-html5
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ils
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-image
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-inbox
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-indent
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-info
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-info-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-inr
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-instagram
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-institution
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ioxhost
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-italic
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-joomla
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-jpy
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-jsfiddle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-key
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-keyboard-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-krw
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-language
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-laptop
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-lastfm
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-lastfm-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-leaf
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-legal
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-lemon-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-level-down
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-level-up
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-life-bouy
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-life-buoy
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-life-ring
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-life-saver
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-lightbulb-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-line-chart
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-link
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-linkedin
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-linkedin-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-linux
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-list
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-list-alt
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-list-ol
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-list-ul
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-location-arrow
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-lock
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-long-arrow-down
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-long-arrow-left
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-long-arrow-right
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-long-arrow-up
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-magic
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-magnet
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mail-forward
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mail-reply
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mail-reply-all
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-male
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-map-marker
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-maxcdn
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-meanpath
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-medkit
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-meh-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-microphone
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-microphone-slash
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-minus
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-minus-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-minus-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-minus-square-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mobile
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mobile-phone
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-money
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-moon-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-mortar-board
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-music
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-navicon
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-newspaper-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-openid
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-outdent
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pagelines
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paint-brush
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paper-plane
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paper-plane-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paperclip
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paragraph
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paste
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pause
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paw
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-paypal
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pencil
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pencil-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pencil-square-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-phone
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-phone-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-photo
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-picture-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pie-chart
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pied-piper
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pied-piper-alt
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pinterest
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-pinterest-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plane
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-play
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-play-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-play-circle-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plug
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plus
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plus-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plus-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-plus-square-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-power-off
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-print
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-puzzle-piece
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-qq
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-qrcode
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-question
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-question-circle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-quote-left
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-quote-right
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ra
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-random
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rebel
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-recycle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-reddit
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-reddit-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-refresh
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-remove
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-renren
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-reorder
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-repeat
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-reply
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-reply-all
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-retweet
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rmb
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-road
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rocket
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rotate-left
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rotate-right
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rouble
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rss
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rss-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rub
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-ruble
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-rupee
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-save
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-scissors
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-search
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-search-minus
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-search-plus
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-send
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-send-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-share
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-share-alt
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-share-alt-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-share-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-share-square-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-shekel
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sheqel
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-shield
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-shopping-cart
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sign-in
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sign-out
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-signal
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sitemap
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-skype
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-slack
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sliders
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-slideshare
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-smile-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-soccer-ball-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-alpha-asc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-alpha-desc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-amount-asc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-amount-desc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-asc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-desc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-down
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-numeric-asc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-numeric-desc
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-sort-up
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-soundcloud
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-space-shuttle
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-spinner
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-spoon
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-spotify
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-square
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-square-o
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-stack-exchange
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-stack-overflow
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-star
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-star-half
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-star-half-empty
            </span>
            <span>
                  <i class="fa fa-fw"></i>
                  fa-star-half-full
            </span>
            -->
            <span>
                  <i class="fa fa-fw fa-star-half-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-star-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-steam"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-steam-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-step-backward"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-step-forward"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-stethoscope"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-stop"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-strikethrough"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-stumbleupon"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-stumbleupon-circle"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-subscript"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-suitcase"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-sun-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-superscript"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-support"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-table"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tablet"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tachometer"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tag"></i>
            </span>
            <span>
                  <i class="fa fa-fw fa-tags"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tasks"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-taxi"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tencent-weibo"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-terminal"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-text-height"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-text-width"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-th"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-th-large"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-th-list"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-thumb-tack"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-thumbs-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-thumbs-o-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-thumbs-o-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-thumbs-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-ticket"></i>
                   
            </span>
            <span>
                  <i class="fa fa-fw fa-times"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw  fa-times-circle"></i>
                 
            </span>
            <span>
                  <i class="fa fa-fw fa-times-circle-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tint"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-left"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-off"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-on"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-right"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-toggle-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-trash"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-trash-o"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tree"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-trello"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-trophy"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-truck"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-try"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tty"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tumblr"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-tumblr-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-turkish-lira"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-twitch"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-twitter"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-twitter-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-umbrella"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-underline"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-undo"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-university"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-unlink"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-unlock"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-unlock-alt"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-unsorted"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-upload"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-usd"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-video-camera"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-vimeo-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-vine"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-vk"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-volume-down"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-volume-off"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-volume-up"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-warning"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-wechat"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-weibo"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-weixin"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-wheelchair"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-wifi"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-windows"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-won"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw wordpress"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-wrench"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-xing"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-xing-square"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-yahoo"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-yelp"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-yen"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-youtube"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-youtube-play"></i>
                  
            </span>
            <span>
                  <i class="fa fa-fw fa-youtube-square"></i>
            </span>
      </section>
</template>
