<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="startPage">
<div class="start">
    <h1>Boodle ihr Termindingens-system!</h1>
    <p class="lead">Hier können sie Termine vereinbaren und zeug!</p>
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
            <ul id="loginTabs" class="nav nav-tabs">
                <li class="active"><a href="#ldaptab" data-toggle="tab">LDAP</a></li>
                <li><a href="#externtab" data-toggle="tab">Extern</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="ldaptab">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Benutzername" id="username_ldap" name="username_ldap" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Passwort" id="password_ldap" name="password_ldap" type="password" value="">
                            </div>
                            <p class="error login-ldap">Anmeldung nicht möglich, bitte prüfen Sie ihre Logindaten.</p>
                            <input type="submit" value="Login" class="btn btn-primary login-ldap"/>
                        </fieldset>
                    </form>
                </div>
                <div class="tab-pane" id="externtab">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Benutzername" id="username" name="username" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Passwort" id="password" name="password" type="password" value="">
                            </div>
                            <p class="error login">Anmeldung nicht möglich, bitte prüfen Sie ihre Logindaten.</p>
                            <input type="submit" value="Login" class="btn btn-primary login"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
</template>