.accessError,
.accessError + .description {
	padding: 5px 10px;
}

.eventPicker .select-form p.error, 
.login-panel p.error {
	display: none;
}
.eventPicker .select-form p.error.show {
	display: block;
}