.suggestion {
	&+ .suggestion {
	  border-left: 2px solid #ddd;
	  padding-left: 10px;
	}
	.control-group .control-label {
	  min-width: 90px;
	  padding-left: 30px;
	}
}

.addSuggestion {
  margin-bottom: 10px;
}

.addSuggestion .control-label {
  margin: 0;
}

.eventItem .suggestion {
  float: left;
  max-width: 170px;
  padding-right: 10px;
}

.suggestioncontainer,
.definition-list .def-item.table_container {
  border: 1px solid #ccc;
  border-radius: 3px;
}