<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="calendarLegend">
 	<ul class="item-list legend-list clearfix">
	    <li class="legend_item open">
	    	<form>
		    	<input type="checkbox" checked="checked" id="checkbox1" name="check" value="checkbox1">
		    	<label class="fa-check" for="checkbox1"><span></span>vorgeschlagen</label>
	    	</form>
	    </li>
	    <li class="legend_item fix">
	    	<form>
		    	<input type="checkbox" checked="checked" id="checkbox2" name="state_closed">
		    	<label class="fa-check" for="checkbox2"><span></span>beschlossen</label>
	    	</form>
	   	</li>
	    <li class="legend_item deleted">
	    	<form>
		    	<input type="checkbox" checked="checked" id="checkbox3" name="state_deleted">
		    	<label class="fa-check" for="checkbox3"><span></span>gelöscht</label>
	    	</form>
	    </li>
	</ul>
</template>

 <!--template name="calendarLegend">
 	<ul class="item-list legend-list clearfix">
	    {{#each getSuggestionStates}}
            <li class="legend_item {{suggestionStates.value}}">
            	<form>
			    	<input type="checkbox" id="checkbox" name="state_{{suggestionStates.value}}">
			    	<label class="fa-check" for="checkbox"><span></span>{{suggestionStates.name}}t</label>
		    	</form>
        {{/each}}
	</ul>
</template-->