<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="eventPage">
    <section class="event eventItem {{eventChosen}}">
        <div class="event-content">
            <ul class="item-list event dropdown" role="tablist">
                <li class="list-item">
                    Event anpassen<i class="fa fa-caret-down fa-fw"></i>
                    <ul class="item-list event-edit dropdown-menu">
                        <li role="presentation"><a class="btn edit-event" href="#"><i class="fa fa-gear fa-fw"></i>Event bearbeiten</a></li>
                        <li role="presentation"><a class="btn pick-event" href="#"><i class="fa fa-gear fa-fw"></i>Event beschließen</a></li>
                        <li role="presentation"><a class="btn close-event" href="#"><i class="fa fa-gear fa-fw"></i>Event absagen</a></li>
                    </ul>
                 </li>
            </ul>
            <h1>{{title}}</h1>
            <article class="state-description">
                <h2 class="state-{{selectedEvent}}">Ergebnis: 
                    <span>{{finalSuggestion}}</span>
                    <p>Event ist für eine weitere Bearbeitung/Stimmenabgaben geschloßen.</p></h2>
                <h2 class="state-{{deletedEvent}}">Dieses Event ist geschloßen</h2>
            </article>
            <dl class="definition-list">
                <dt class="def-lable">Beschreibung</dt>
                <dd class='def-item'>{{description}}</dd>
                <dt class="def-lable">Erstellt von</dt>
                <dd class='def-item'>{{creator}}</dd>
                <dt class="def-lable">Vorschläge</dt>
                <dd class="def-item table_container clearfix">
                    {{> votes event=this}}
                </dd>
                <dt class="def-lable">Antwortmodus</dt>
                <dd class="def-item">{{getResponseMode}}</dd>
                <dt class="def-lable">Versteckte Umfrage</dt>
                <dd class="def-item">{{isHidden}}</dd>
                <dt class="def-lable">Status</dt>
                <dd class="def-item">{{getState}}</dd>
            </dl>
        </div>
        <div class="modal fade overlay" id="deleteNote" tabindex="-1" role="dialog" aria-labelledby="deleteNoteLabel" aria-hidden="true" style="display:none">
            <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <p class="notifikation-text">Soll das Event wirklich abgesagt werden?</p>
            <button type="button" id="submit-delete" class="btn btn-danger">Event absagen</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          </div>
        </div>
    </section>
</template>
