<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="eventPicker">
    <a href="#" class="btn btn-back">zurück</a>
    <section class="event eventPicker">
    	<h1>Event beschließen</h1>
    	<dl class="definition-list">
    		<dt class="def-lable" id="title">Title</dt>
    		<dd class="def-item">{{title}}</dd>
    		<dt class="def-lable">Beschreibung</dt>
    		<dd class="def-item" id="description">{{description}}</dd>
    		<dt class="def-lable">Teilnehmer</dt>
    		<dd class="def-item" id="participants">{{participants}}</dd>
    	</dl>
    	<form class="select-form" role="form">
    		<div class="form-group">
    			<label class="def-lable">Terminvorschläge</label>
                <p class="error missingEvent">Fehler! Es muss mindestens einen Event gewählt sein.</p>
    			<div id="suggestioncontainer" class="suggestioncontainer pick-event-container" name="suggestioncontainer">
	                {{> votes dates=suggestions users=participants event=this}}
	            </div>
    		</div>
            <p class="error noUpdate">Error, speichern nicht möglich</p>
    		<input type="submit" value="Event beschließen" class="btn btn-primary"/>
    	</form>
	</section>
	<a href="#" class="btn btn-back">zurück</a>
</template>
