<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="eventAutoformContent">
    {{> afQuickField name="title" id="title-input"}}
    {{> afQuickField name="description" rows=3 id="description-input"}}

    <div class="form-group addParticipant {{#if afFieldIsInvalid name='participants'}}has-error{{/if}}">
        <label class="control-label" id="participants-label" for="participants-input">Teilnehmer</label>
        {{> afFieldInput name='participants' id="participants-input" autocomplete="off" spellcheck="off"}}
        {{#if afFieldIsInvalid name='participants' }}
            <span class="help-block">{{afFieldMessage name='participants'}}</span>
        {{/if}}                    
    </div>

    {{> afQuickField name="responseMode" id="responseMode-input"}}
    {{> afQuickField name="hidden" id="hidden-input"}}
    {{> afQuickField name="onlyYesNoAnswer" id="onlyYesNoAnswer-input"}}
    
    <div class="form-group {{#if afFieldIsInvalid name='suggestions'}}has-error{{/if}}">
        <label class="control-label" id="suggestions-label" for="suggestion-input">Terminvorschäge</label>
        <div>
            <div id="suggestion-input" class="calendar"></div>
        </div>
        {{> calendarLegend}}
        {{#if afFieldIsInvalid name='suggestions' }}
            <span class="help-block">{{afFieldMessage name='suggestions'}}</span>
        {{/if}}  
    </div>  
    <div class="login-panel"><p id="eventError" class="error"></p></div>
    <input type="submit" value="{{buttoncaption}}" class="btn btn-primary"/>
</template>

<template name="eventModal">
<div class="modal fade" id="eventModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Terminvorschlag für: {{suggestions.title}}</h4>
                </div>
                <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="suggestions-title">Vorschlagstitel</label>
                    <input id="suggestions-title" type="text" value="{{curSuggestion.title}}" class="form-control"/>
                </div>       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                    <button id="delSuggestions" type="button" class="btn btn-danger">Termin Löschen</button>
                    <button id="saveSuggestions" type="button" class="btn btn-primary">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</template>