<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<template name="eventList">
    {{#if currentUserAvailable}}
    <div class="reactiveTable Listview">
        <h3>Von mir erstellt</h3>
        {{> reactiveTable settings=administrated}}   
    </div> 
    <div class="reactiveTable">
        <h3>Eingeladen zu</h3>
        {{> reactiveTable settings=invited}}
    </div>
    <div>
        <a role="tab" data-toggle="tab" id="exportEvents" class="btn export_cal" href="#">
            <i class="fa fa-download"></i> Events</a>
        <div class="calendar"></div>
        {{> calendarLegend}}
    </div>
    {{/if}}
</template>