@charset "UTF-8";
.btn {
  padding: 7px;
}
.btn.btn-configure {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url("includes/img/configure_icon.jpg") no-repeat center center #999;
}
.btn.newaccount {
  float: right;
  margin: 10px 0 0 10px;
  padding: 5px 6px;
}

.btn-back {
  padding-left: 0;
  text-decoration: underline;
}
.btn-back:active {
  box-shadow: none;
}
.btn-back:hover {
  font-weight: 500;
  text-decoration: underline;
}

.btn-lg .login-link-text {
  color: #fff;
}

.btn-primary {
  margin-bottom: 15px;
}
.btn-primary[value='Ereignis anlegen'], .btn-primary[value='Ereignis ändern'] {
  margin-top: 10px;
}

#loginTabs + .tab-content .btn-primary {
  width: 100%;
}

.eventItem .btn-pick-event {
  display: none;
}
.eventItem .modal.overlay .modal-content .btn-default,
.eventItem .modal.overlay .modal-content .btn-danger {
  float: right;
  margin: -5px 5px;
}

.eventPicker .select-form .select-btn {
  max-width: 20px;
}

.export_cal .btn {
  padding: 5px;
  background-color: #fff;
}

.vote-table.disabled th .btn-pick-event {
  margin: 0 2px;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, em,
b, u, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header,
menu, nav, section, time {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h5, h6, p, blockquote,
address, big, em,
b, u, center, dt, dd, li,
label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header,
menu, time {
  font-size: 14px;
  line-height: 16px;
}

html, body, div, span,
h5, h6, p, blockquote,
abbr, acronym, address, big, em,
b, u, center, dt, dd, li,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header,
menu, nav, section, time,
#loginTabs.nav-tabs a {
  color: #333;
}

body {
  /* Button's */
  /* Forms */
  /* Lists */
  /* Overlay */
  /* Tables */
  /* EventPicker */
  /* Fc-event-container */
  /* Startpage */
  /* StateDescription */
  /* IconFont */
}
body h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
}
body h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
body h2.accessError {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
}
body h2.PageError, body h2.PageError + .description {
  text-align: center;
}
body .eventItem h2 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
body h3,
body .event .control-label,
body .event .def-lable {
  font-size: 22px;
  line-height: 24px;
}
body h2, body h3,
body .event .control-label,
body .event .def-lable,
body .reactiveTable table th {
  text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
  -moz-text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
  -webkit-text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
}
body .page-headline,
body .page-headline a {
  color: #0BB455;
  font-size: 36px;
  font-weight: 500;
  line-height: 38px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #00EF68;
  -moz-text-shadow: 1px 1px 1px #00EF68;
  -webkit-text-shadow: 1px 1px 2px #00EF68;
}
body footer p {
  color: #777;
}
body .btn {
  font-size: 16px;
}
body .btn .newaccount {
  font-size: 14px;
}
body .export_cal.btn,
body .fa-download {
  color: #117936;
}
body .export_cal.btn:active, body .export_cal.btn:focus, body .export_cal.btn:hover,
body .fa-download:active,
body .fa-download:focus,
body .fa-download:hover {
  color: #135501;
}
body #loginTabs + .tab-content .btn-primary {
  font-size: 20px;
  line-height: 24px;
}
body form .control-label {
  font-size: 1.5rem;
}
body form .control-group .control-label {
  font-size: 1.4rem;
}
body form .addParticipant .bootstrap-tagsinput .label-info {
  font-size: 90%;
  font-weight: 400;
}
body form .addSuggestion .btn-add {
  background-color: #EAE8E8;
}
body form .addSuggestion .btn-add :hover {
  background-color: #E3E3E3;
}
body form .addSuggestion .btn-add .control-label {
  margin: 0;
}
body .item-list li a:hover {
  text-decoration: underline;
  text-shadow: none;
  font-weight: 600;
}
body .item-list.legend-list .legend_item label {
  font-weight: 400;
}
body .item-list.legend-list .legend_item label:before {
  color: #fff;
  font-family: FontAwesome;
  text-align: center;
}
body .item-list.legend-list .legend_item input[type=checkbox]:checked + label:before {
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
body .definition-list .def-item {
  font-size: 1.5rem;
}
body .definition-list .def-lable,
body .select-form .def-lable {
  padding: 5px 0;
  font-size: 1.75rem;
}
body #loginTabs.nav-tabs .active a {
  color: #117936;
}
body .eventItem .modal.overlay .modal-content .notifikation-text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
body .reactiveTable h3 {
  font-weight: 500;
}
body .reactiveTable table th {
  font-size: 18px;
}
body .vote-table tr th {
  text-align: center;
}
body .vote-table tr td .availability .control-label {
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0;
  -moz-text-shadow: 0;
  -webkit-text-shadow: 0;
}
body .vote-table tr td .availability a {
  color: #0e672e;
}
body .eventPicker .select-form p.error,
body .login-panel p.error {
  color: red;
  font-size: 1.5rem;
  font-weight: 400;
}
body .eventPicker .select-form .select-option {
  font-size: 1.5rem;
  font-weight: 400;
}
body .fc-event-container .fc-event,
body .fc-event-container .fc-event:hover,
body .fc-event-container .fc-time,
body .fc-event-container .ui-widget .fc-event {
  font-size: 13.5px;
  font-weight: 400;
}
body .fc-event-container .fc-event span,
body .fc-event-container .fc-event:hover span,
body .fc-event-container .fc-time span,
body .fc-event-container .ui-widget .fc-event span {
  font-weight: 400;
}
body .start {
  text-align: center;
}
body .start h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 60px;
}
body .start p {
  font-size: 1.9rem;
  line-height: 40px;
}
body .state-description .state-selected,
body .state-description .state-deleted {
  font-size: 20px;
  text-align: center;
}
body .state-description p {
  font-size: 16px;
  font-weight: 400;
}
body .state-description span {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}
body .icon-font h1 {
  margin-bottom: 20px;
}
body .icon-font span {
  display: inline-block;
  width: 100px;
  height: 50px;
}
body .icon-font span .fa {
  font-size: 2.25rem;
}

/* forms */
form textarea {
  max-width: 828px;
  max-height: 200px;
}
form .form-control {
  padding-left: 5px;
}
form .form-group .control-group .control-label {
  left: 0;
  display: inline-block;
  min-width: 250px;
  margin: 5px 10px;
  padding: 0;
  background-color: transparent;
}
form .addTitle #title-label {
  padding-top: 15px;
}
form .addParticipant .bootstrap-tagsinput {
  position: relative;
}
form .addParticipant .bootstrap-tagsinput .label-info {
  position: relative;
  top: -1px;
  background-color: #0D3D65;
}
form .addSuggestion #suggestioncontainer .input-group {
  margin-bottom: 10px;
}

.eventPicker .select-form .select-option {
  position: relative;
  top: 2px;
  display: inline-block;
  padding-left: 5px;
}
.eventPicker .select-form .pick-event-container label {
  display: inline-block;
  margin-right: 10px;
}
.eventPicker .select-form .pick-event-container label + label {
  border-left: 2px solid #DDD;
  padding-left: 10px;
}

/* Lists */
ul, ol, dl, .item-list {
  list-style: none;
}

.definition-list .def-item {
  padding: 5px;
}
.definition-list .def-item#participants {
  word-wrap: break-word;
}

.item-list {
  padding: 0;
  /* calendarLegend*/
}
.item-list li {
  list-style: none;
}
.item-list li a {
  color: #000;
}
.item-list.legend-list {
  margin-bottom: 3px;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
  background: linear-gradient(top bottom, #fafafa 0%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb', GradientType=0 );
  border-top: 1px solid #F0F0F0;
  border-right: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.item-list.legend-list .legend_item {
  float: left;
  margin: 5px 10px;
}
.item-list.legend-list .legend_item label {
  cursor: pointer;
  margin: 2px 0;
}
.item-list.legend-list .legend_item label:before {
  content: "";
  z-index: 11;
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.item-list.legend-list .legend_item label,
.item-list.legend-list .legend_item label span {
  display: inline-block;
  position: relative;
}
.item-list.legend-list .legend_item label span {
  top: 3px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  box-shadow: 1px -1px 1px 0px rgba(0, 0, 0, 0.2);
}
.item-list.legend-list .legend_item input[type=checkbox] {
  display: none;
}

#loginTabs.nav-tabs {
  border: 0 none;
}
#loginTabs.nav-tabs li {
  margin-bottom: -2px;
}

.nav-pills {
  position: relative;
  top: 6px;
  left: 5px;
}
.nav-pills .dropdown .dropdown-menu {
  right: 0;
  left: -100px;
}

.eventItem .item-list.event {
  position: relative;
  top: 2px;
  float: right;
  display: block;
}
.eventItem .item-list.event .list-item {
  padding: 3px 5px 4px 3px;
  text-decoration: underline;
}
.eventItem .item-list.event .list-item:hover .fa-caret-down:before {
  content: "\f0d8";
}
.eventItem .item-list.event li .item-list.event-edit {
  display: none;
  border: 1px solid #eee;
}
.eventItem .item-list.event li .item-list.event-edit a {
  padding: 5px 0;
  text-align: left;
}
.eventItem .item-list.event li .item-list.event-edit a .fa {
  margin: 0 5px;
}
.eventItem .item-list.event li:active .item-list.event-edit, .eventItem .item-list.event li:hover .item-list.event-edit {
  z-index: 999;
  position: absolute;
  top: 20px;
  right: 0;
  left: -50px;
  display: block;
}

/* Login */
#login-dropdown-list.accounts-dialog {
  overflow: hidden;
  top: -12px;
}

#login-dropdown-list.accounts-dialog #login-username-label-and-input,
#login-dropdown-list.accounts-dialog #login-password-label-and-input {
  margin-bottom: 10px;
}

#login-dropdown-list.accounts-dialog #signup-link:hover,
#login-dropdown-list.accounts-dialog #back-to-login-link:hover {
  font-weight: 700;
}

.eventItem .modal.overlay .modal-content {
  max-width: 500px;
  min-height: 120px;
  margin: 10% auto;
  padding: 5px 10px;
}
.eventItem .modal.overlay .modal-content .notifikation-text {
  display: block;
  width: 100%;
  margin: 25px 0;
}

@media screen and (min-width: 551px) {
  .reactiveTable h3 {
    max-width: 30%;
  }

  .reactiveTable .row .reactive-table-options {
    max-width: 50%;
    width: 100%;
  }

  .newaccount + .row .reactive-table-options {
    max-width: 35%;
  }
}
@media screen and (max-width: 450px) {
  .reactiveTable .row .reactive-table-options {
    width: 100%;
  }
}
.i8 .reactiveTable h3 {
  max-width: 40%;
}

.i8 .newaccount + .row .reactive-table-options {
  max-width: 35%;
}

table .fc-widget-header th {
  padding: 5px 0;
  font-size: 16px;
}

.reactiveTable h3 {
  float: left;
  display: inline-block;
}
.reactiveTable h3 + row .reactive-table-options {
  margin: 0;
  padding: 0;
  max-width: 50%;
}
.reactiveTable .row {
  margin-right: 0;
  margin-left: 0;
}
.reactiveTable .row .reactive-table-options {
  margin-right: 0;
  padding: 0;
}
.reactiveTable .row .reactive-table-filter {
  width: 100%;
}
.reactiveTable .reactive-table-filter {
  float: right;
  max-width: 550px;
  margin-top: 10px;
  padding: 0;
}
.reactiveTable .dataTables_wrapper {
  clear: both;
}
.reactiveTable .reactive-table {
  margin-bottom: 0;
}
.reactiveTable table tr th, .reactiveTable table tr td {
  max-width: 300px;
  padding-left: 0;
}
.reactiveTable .dataTables_scrollBody {
  margin-bottom: 10px;
  border-bottom: 3px solid #ccc;
}
.reactiveTable .sortable {
  padding-left: 0px;
  padding-right: 5px;
}

.Listview.reactiveTable table tr td {
  overflow-x: hidden;
  min-width: 135px;
  max-width: 300px;
  word-wrap: break-word;
}

/* VoteTables */
.vote-table {
  width: 100%;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
}
.vote-table thead {
  border-bottom: 1px solid rgba(42, 100, 150, 0.2);
}
.vote-table tr {
  display: table-row;
}
.vote-table tr th, .vote-table tr td {
  width: 15%;
  padding: 5px;
  border-left: 2px solid #fff;
}
.vote-table tr th:first-child, .vote-table tr td:first-child {
  width: 10%;
  border-left: 0 none;
}
.vote-table tr td .control-group {
  text-align: center;
}
.vote-table tr:nth-child(even) {
  border-top: 1px solid rgba(42, 100, 150, 0.2);
  border-bottom: 1px solid rgba(42, 100, 150, 0.2);
}
.vote-table tr:nth-child(even) td {
  background-color: rgba(114, 171, 192, 0.18);
}
.vote-table tr:nth-child(even) td .availability {
  padding-left: 3%;
}
.vote-table tr:nth-child(even) td .availability .control-label {
  display: inline-block;
  min-width: 75px;
  margin: 0;
  padding: 0 5px;
  background-color: transparent;
}
.vote-table tr:nth-child(even) th:nth-child(even), .vote-table tr:nth-child(even) td:nth-child(even) {
  background-color: rgba(114, 171, 192, 0.18);
}
.vote-table tr.active {
  background-color: rgba(5, 201, 255, 0.3);
}
.vote-table tr.active:nth-child(even) td {
  background-color: rgba(114, 171, 192, 0.05);
}
.vote-table.disabled th span {
  display: inline-block;
}
.vote-table.disabled td {
  background-color: #eee;
  color: #999;
}
.vote-table.disabled tr th,
.vote-table.disabled tr td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.editable {
  box-shadow: 0 0 2px black;
}

.suggestioncontainer.table_container,
.definition-list .def-item.table_container {
  padding: 0;
}

.suggestioncontainer.table_container .vote-table th {
  padding-top: 15px;
}

.calendar {
  margin-top: 30px;
}

.export_cal {
  float: right;
  margin-left: 10px;
}

.accessError,
.accessError + .description {
  padding: 5px 10px;
}

.eventPicker .select-form p.error,
.login-panel p.error {
  display: none;
}

.eventPicker .select-form p.error.show {
  display: block;
}

.start h1 {
  margin: 0;
  padding: 30px 0 20px;
}
.start p {
  padding-bottom: 20px;
}

.state-description .state- {
  display: none;
}
.state-description .state-selected,
.state-description .state-deleted {
  margin-bottom: 20px;
}
.state-description .state-selected p {
  padding: 10px 0 20px;
}

.suggestion + .suggestion {
  border-left: 2px solid #ddd;
  padding-left: 10px;
}
.suggestion .control-group .control-label {
  min-width: 90px;
  padding-left: 30px;
}

.addSuggestion {
  margin-bottom: 10px;
}

.addSuggestion .control-label {
  margin: 0;
}

.eventItem .suggestion {
  float: left;
  max-width: 170px;
  padding-right: 10px;
}

.suggestioncontainer,
.definition-list .def-item.table_container {
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* global */
html {
  background-color: #eee;
}

body {
  overflow-x: hidden;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 !important;
  box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
  -moz-box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
  -webkit-box-shadow: 2px 1px 3px 0px rgba(115, 171, 203, 0.7);
}
body h2 {
  margin: 0;
}
body .container {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0;
  padding: 15px 10px;
}
body #main.container {
  overflow-x: hidden;
}
body .page-head .page-headline {
  float: left;
  display: block;
  margin: 0;
}
body .header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
body .footer {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
body .event-content {
  position: relative;
}

.addParticipant .bootstrap-tagsinput {
  display: block;
}

.event .form-group .control-label,
.event dl .def-lable {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  left: -10px;
  min-width: 850px;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 63, 99, 0.07);
}

.token .token-label + .close {
  line-height: 1.1em;
}

.fc-event {
  box-shadow: inset -1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.fc-event.editable {
  box-shadow: inset -1px 1.5px 3px 0px rgba(0, 0, 0, 0.3);
}
