.btn {
  padding: 7px;

  &.btn-configure {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url("includes/img/configure_icon.jpg") no-repeat center center #999;
  }
  &.newaccount {
    float: right;
    margin: 10px 0 0 10px;
    padding: 5px 6px;
  }
}

.btn-back {
  padding-left: 0;
  text-decoration: underline;

  &:active {
    box-shadow: none;
  }

  &:hover {
    font-weight: 500;
    text-decoration: underline;
  }
}

.btn-lg .login-link-text {
  color: #fff;
}

.btn-primary {
  margin-bottom: 15px;

  &[value='Ereignis anlegen'],
  &[value='Ereignis ändern'] {
    margin-top: 10px;
  }
}

#loginTabs + .tab-content .btn-primary {
  width: 100%;
}

.eventItem {
  .btn-pick-event {
    display: none;
  }

  .modal.overlay .modal-content {
    .btn-default,
    .btn-danger {
      float: right;
      margin: -5px 5px;
    }
  }
}

.eventPicker .select-form .select-btn {
  max-width: 20px;
}

.export_cal .btn {
  padding: 5px;
  background-color: #fff;
}

.vote-table.disabled th .btn-pick-event {
  margin: 0 2px;
}

