html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, em, 
b, u, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header, 
menu, nav, section, time {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h5, h6, p, blockquote,
address, big, em, 
b, u, center, dt, dd, li,
label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header, 
menu, time {
	font-size: 14px;
	line-height: 16px;
}

html, body, div, span, 
h5, h6, p, blockquote,
abbr, acronym, address, big, em, 
b, u, center, dt, dd, li,
fieldset, form, label, legend, caption, tr, th, td,
article, aside, figcaption, footer, header, 
menu, nav, section, time,
#loginTabs.nav-tabs a {
	color: #333;
}

body {
	h1 {
		font-size: 26px;
		font-weight: 500;
		line-height: 28px;
	}

	h2 {
		font-size: 24px;
		font-weight: 500;
		line-height: 26px;

		&.accessError {
			font-size: 30px;
			font-weight: 700;
			line-height: 32px;
		}

	  	&.PageError,
	  	&.PageError + .description {
			text-align: center;
		}
	}

	.eventItem h2 {
	  	font-size: 1.5rem;
	  	line-height: 1.6rem;
	}

	h3,
	.event .control-label,
	.event .def-lable {
	  	font-size: 22px;
	  	line-height: 24px;
	}

	h2, h3,
	.event .control-label,
	.event .def-lable,
	.reactiveTable table th {
		text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
		-moz-text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
		-webkit-text-shadow: 1px 1px 2px rgba(160, 218, 251, 0.48);
	}

	.page-headline,
	.page-headline a {
		color: #0BB455;
		font-size: 36px;
		font-weight: 500;
		line-height: 38px;
		text-decoration: none;
		text-shadow: 1px 1px 1px #00EF68;
		-moz-text-shadow: 1px 1px 1px #00EF68;
		-webkit-text-shadow: 1px 1px 2px #00EF68;
	}

	footer p {
		color: #777;
	}

	/* Button's */
	.btn {
		font-size: 16px;
	}

	.btn .newaccount {
		font-size: 14px;
	}

	.export_cal.btn,
	.fa-download {
		color: #117936;

		&:active,
		&:focus,
		&:hover {
			color: #135501;
		}
	}

	#loginTabs + .tab-content .btn-primary {
		font-size: 20px;
		line-height: 24px;
	}


	/* Forms */
	form {
		.control-label {
			font-size: 1.5rem;
		}

		.control-group .control-label {
			font-size: 1.4rem;
		}

		.addParticipant .bootstrap-tagsinput .label-info {
			font-size: 90%;
			font-weight: 400;
		}

		.addSuggestion .btn-add {
			background-color: #EAE8E8;
			
			:hover {
			  background-color: #E3E3E3;
			}

			.control-label {
				margin: 0;
			}
		}
	}

	/* Lists */
	.item-list {
		li a:hover {
		  text-decoration: underline;
		  text-shadow: none;
		  font-weight: 600;
		}

		&.legend-list .legend_item {
			label {
				font-weight: 400;

				&:before {
			        color: #fff;
			        font-family: FontAwesome;
			        text-align: center;
				}
			}

			input[type=checkbox]:checked + label:before {
				font-size: 13px;
				line-height: 14px;
				text-align: center;
				text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
			}
		}
	}

	.definition-list .def-item {
	  font-size: 1.5rem;
	}

	.definition-list .def-lable,
	.select-form .def-lable {
	  padding: 5px 0;
	  font-size: 1.75rem;
	}

	#loginTabs.nav-tabs .active a {
		color:#117936;
	}

	/* Overlay */
	.eventItem .modal.overlay .modal-content .notifikation-text {
		font-size: 20px;
		font-weight: 500;
		text-align: center;
	}


	/* Tables */
	.reactiveTable {
		h3 {
			font-weight: 500;
		}

		table th {
			font-size: 18px;
		}
	}

	.vote-table {
		tr th {
		  text-align: center;
		}

		tr td .availability .control-label {
			font-size: 16px;
			font-weight: 400;
			text-shadow: 0;
			-moz-text-shadow: 0;
			-webkit-text-shadow: 0;
		}

		tr td .availability a{
			color: #0e672e;
		}
	}

	/* EventPicker */
	.eventPicker .select-form p.error, 
	.login-panel p.error {
		color: red;
		font-size: 1.5rem;
		font-weight: 400;
	}

	.eventPicker .select-form .select-option {
		font-size: 1.5rem;
		font-weight: 400;
	}

	/* Fc-event-container */
	.fc-event-container .fc-event,
	.fc-event-container .fc-event:hover,
	.fc-event-container .fc-time,
	.fc-event-container .ui-widget .fc-event {
	  font-size: 13.5px;
	  font-weight: 400;
	}
	.fc-event-container .fc-event span,
	.fc-event-container .fc-event:hover span,
	.fc-event-container .fc-time span,
	.fc-event-container .ui-widget .fc-event span {
	  font-weight: 400;
	}

	/* Startpage */
	.start {
		text-align: center;

		h1 {
			font-size: 3.5rem;
			font-weight: 500;
			line-height: 60px;
		}

		p {
			font-size: 1.9rem;
			line-height: 40px;
		}
	}

	/* StateDescription */
	.state-description {
		.state-selected,
		.state-deleted {
			font-size: 20px;
			text-align: center;
		}

		p {
			font-size: 16px;
			font-weight: 400;
		}

		span {
			font-size: 20px;
			font-weight: 600;
			text-decoration: underline;
		}

	}

	/* IconFont */
	.icon-font {
		h1 {
		  margin-bottom: 20px;
		}
		span {
			display: inline-block;
			width: 100px;
			height: 50px;

			.fa {
				font-size: 2.25rem;
			}
		}
	}	
}
