/* forms */
form {
  textarea {
    max-width: 828px;
    max-height: 200px;
  }
  
  .form-control {
    padding-left: 5px;
  }

  .form-group .control-group .control-label {
    left: 0;
    display: inline-block;
    min-width: 250px;
    margin: 5px 10px;
    padding: 0;
    background-color: transparent;
  }

  .addTitle #title-label {
    padding-top: 15px;
  }

  .addParticipant .bootstrap-tagsinput {
    position: relative;

    .label-info {
      position: relative;
      top: -1px;
      background-color: #0D3D65;
    }
  }

  .addSuggestion #suggestioncontainer .input-group {
    margin-bottom: 10px;
  }
}

.eventPicker .select-form {
  .select-option {
    position: relative;
    top: 2px;
    display: inline-block;
    padding-left: 5px;
  } 
  
  .pick-event-container label {
    display: inline-block;
    margin-right: 10px;

    & + label {
      border-left: 2px solid #DDD;
      padding-left: 10px;
    }
  } 
}
