/* Lists */
ul, ol, dl, .item-list {
  list-style: none;
}
 
.definition-list .def-item {
  padding: 5px;

  &#participants {
    word-wrap: break-word;
  }
}
  
.item-list {
  padding: 0;

  li {
    list-style: none;

    a {
      color: #000;
    }
  }

  /* calendarLegend*/
  &.legend-list {
    margin-bottom: 3px;
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #dbdbdb));
    background: -webkit-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #dbdbdb 100%);
    background: linear-gradient(top bottom, #fafafa 0%, #dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dbdbdb', GradientType=0 );
    border-top: 1px solid #F0F0F0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .legend_item {
      float: left;
      margin: 5px 10px;

      label {
        cursor: pointer;
        margin: 2px 0;
      }

      label:before {
        content: "";
        z-index: 11;
        position: absolute;
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #aaa;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
      }

      label, 
      label span {
        display: inline-block;
        position: relative;
      }

      label span {
        top: 3px;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        box-shadow: 1px -1px 1px 0px rgba(0, 0, 0, 0.2);
      }

      input[type=checkbox] {
        display: none;
      }
    }
  }
}

#loginTabs.nav-tabs {
  border: 0 none;

  li {
    margin-bottom: -2px;
  }
}

.nav-pills {
  position: relative;
  top: 6px;
  left: 5px;

  .dropdown .dropdown-menu {
    right: 0;
    left: -100px;
  }
}

.eventItem .item-list.event {
  position: relative;
  top: 2px;
  float: right;
  display: block;

  .list-item {
    padding: 3px 5px 4px 3px;
    text-decoration: underline;

    &:hover .fa-caret-down:before {
      content: "\f0d8";
    }
  }

  li {
    .item-list.event-edit {
      display: none;
      border: 1px solid #eee;

      a {
        padding: 5px 0;
        text-align: left;

        .fa {
          margin: 0 5px;
        }
      }
    }
    
    &:active .item-list.event-edit,
    &:hover .item-list.event-edit {
      z-index: 999;
      position: absolute;
      top: 20px;
      right: 0;
      left: -50px;
      display: block;
    }
  }
}
  

/* Login */
#login-dropdown-list.accounts-dialog {
  overflow: hidden;
  top: -12px;
}
#login-dropdown-list.accounts-dialog #login-username-label-and-input,
#login-dropdown-list.accounts-dialog #login-password-label-and-input {
  margin-bottom: 10px;
}
#login-dropdown-list.accounts-dialog #signup-link:hover,
#login-dropdown-list.accounts-dialog #back-to-login-link:hover {
  font-weight: 700;
}