.eventItem .modal.overlay .modal-content {
  max-width: 500px;
  min-height: 120px;
  margin: 10% auto;
  padding: 5px 10px;

  .notifikation-text {
	  display: block;
	  width: 100%;
	  margin: 25px 0;
	}
}
