@media screen and (min-width: 551px){
  .reactiveTable h3 {
    max-width: 30%;
  }
  .reactiveTable .row .reactive-table-options {
    max-width: 50%;
    width: 100%;
  }
  .newaccount + .row .reactive-table-options {
    max-width: 35%;
  }
}

@media screen and (max-width: 450px){
  .reactiveTable .row .reactive-table-options {
    width: 100%;
  }
}

.i8 .reactiveTable h3 {
  max-width: 40%;
}
.i8 .newaccount + .row .reactive-table-options {
  max-width: 35%;
}

table .fc-widget-header th {
  padding: 5px 0;
  font-size: 16px;
}

.reactiveTable {
  h3 {
    float: left;
    display: inline-block;
  }

  h3 + row .reactive-table-options {
    margin: 0;
    padding: 0;
    max-width: 50%;

  }

  .row {
    margin-right: 0;
    margin-left: 0;

    .reactive-table-options {
      margin-right: 0; 
      padding: 0;
    }
    .reactive-table-filter {
      width: 100%;
    }
  }
  .reactive-table-filter {
    float: right;
    max-width: 550px;
    margin-top: 10px;
    padding: 0;
  }

  .dataTables_wrapper {
    clear: both;
  }

  .reactive-table {
    margin-bottom: 0;
  }

  table tr {
    th, td {
      max-width: 300px;
      padding-left: 0;
    }
  }

  .dataTables_scrollBody {
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc;
  }

  .sortable {
    padding-left: 0px;
    padding-right: 5px;
  }
}

.Listview.reactiveTable {
  table tr td {
    overflow-x: hidden;
    min-width: 135px;
    max-width: 300px;
    word-wrap: break-word;
  }
}

/* VoteTables */
.vote-table {
  width: 100%;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);

  thead {
    border-bottom: 1px solid rgba(42, 100, 150, 0.2);
  }

  tr {
    display: table-row;

    th, td {
      width: 15%;
      padding: 5px;
      border-left: 2px solid #fff;
    }
    th:first-child, td:first-child {
      width: 10%;
      border-left: 0 none;
    }

    td {
      .control-group {
          text-align: center;
        }
    }

    &:nth-child(even) {
      border-top: 1px solid rgba(42, 100, 150, 0.2);
      border-bottom: 1px solid rgba(42, 100, 150, 0.2);

      td {
        background-color: rgba(114, 171, 192, 0.18);
      
        .availability {
          padding-left: 3%;
        }

        .availability .control-label {
          display: inline-block;
          min-width: 75px;
          margin: 0;
          padding: 0 5px;
          background-color: transparent;
        }
      }

      th:nth-child(even), td:nth-child(even) {
        background-color: rgba(114, 171, 192, 0.18);
      }
    }

    &.active {
      background-color: rgba(5, 201, 255, 0.3);

      &:nth-child(even) td {
        background-color: rgba(114, 171, 192, 0.05);
      }
    }
  }

  &.disabled {
    th span {
      display: inline-block;
    }

    td {
      background-color: #eee;
      color: #999;
    }

    tr th,
    tr td {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }
}

.editable {
  box-shadow: 0 0 2px black;
}

.suggestioncontainer.table_container,
.definition-list .def-item.table_container {
  padding: 0;
}

.suggestioncontainer.table_container .vote-table th {
  padding-top: 15px;
}