<!--This file is part of Boodle.

    Boodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Boodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Boodle.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- TO DO: comments -->
<template name="vote">
    <tr class="active">
        <td>{{getDisplayname this.user}}</td>
        {{#each this.dates}}
            <td><div class="availability">
            {{#if votingAllowed this ../eventId}}
                {{#if hasVoted "yes" this ../voting.votes ../eventId}}
                    <div class="control-group voted-yes">Ja</div>
                {{else}}
                    <div class="control-group voted-not">
                        <a href="#" id="{{getIdentifier}}" name="{{getIdentifier}}" data-value="yes">Ja</a>
                    </div>
                {{/if}}

                {{#if hasVoted "no" this ../voting.votes ../eventId}}
                    <div class="control-group voted-no">Nein</div>
                {{else}}
                    <div class="control-group voted-not">
                        <a href="#" id="{{getIdentifier}}" name="{{getIdentifier}}" data-value="no">Nein</a>
                    </div>
                {{/if}}

                {{#if ../onlyYesNoAnswer}}

                {{else}}
                    {{#if hasVoted "maybe" this ../voting.votes ../eventId}}
                        <div class="control-group voted-maybe">Vielleicht</div>
                    {{else}}
                        <div class="control-group voted-not">
                            <a href="#" id="{{getIdentifier}}" name="{{getIdentifier}}" data-value="maybe">Vielleicht</a>
                        </div>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div></td>
        {{/each}}
    </tr>
</template>
